code-snippet.css{
    .Selector{
        color:#D7BA7D;
    }

    .brackets{
        color:#FFD700;
    }
	

    .Declaration{
        color:#9CDCFE;
    }
    .Value{
        color:#CE9178;
    }
    .Dimension, .AnPlusB{
        color:#B5CEA8;
    }
    .value.default{
        font-weight:600;
    }
	.Comment{ /**/
		color:#6A9953;
	}
}

