code-snippet.html{
	.Element{
		color:#569CD6;
	}
	.Attribute{
		color:#9CDCFE;
		.Text{
			color:#CE9178;
		}
	}
	.Text{
		color:#D4D4D4;
	}

	.String{
		color:#CE9178;
	}
	.brackets{
		color:#808080;
	}
	//
	.Comment{
		color:#6A9955;
	}
}