.sample{
	display:flex;
	justify-content:center;
}
.sample>div{
	width:100px;
	min-height:100px;
}
.sample>button{
	border:0px;
	border-radius:0.2em;
}
.sample *:nth-child(1){
	background-color: var(--nice-colour);
}
.sample *:nth-child(2){
	background-color: var(--nice-colour2);
}
.sample *:nth-child(3){
	background-color: var(--nice-colour3);
}