code-snippet.css{
    .Selector{
        color:#D7BA7D;
    }

    .bracket{
        color:#FFD700;
    }

    .Declaration{
        color:#9CDCFE;
    }
    .Value{
        color:#CE9178;
    }
    .Dimension{
        color:#B5CEA8;
    }
    .value.default{
        font-weight:600;
    }
}

